<header class="custom-header bg-light border-bottom">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div class="logo">
        <%= link_to root_path do %>
          <%= image_tag 'favicon.ico' , class: 'img-fiuld' , style: 'height: 60px;' %>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto d-flex flex-row align-items-center">
          <li class="nav-item me-1">
            <%= link_to 'ログイン' , login_path, class: 'btn btn-primary' %>
          </li>
          <li class="nav-item">
            <%= link_to '会員登録' , new_user_path, class: 'btn btn-primary' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>