<footer class="bg-dark text-white py-1 fixed-bottom">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="footer-logo">
      <span>掲示板(仮)</span>
    </div>
    <nav class="nav">
      <%= link_to '利用規約' , '#' , class: 'nav-link' %>
      <%= link_to 'プライバシーポリシー' , '#' , class: 'nav-link' %>
      <%= link_to 'お問い合わせ' , '#' , class: 'nav-link' %>
    </nav>
  </div>
</footer>