<main class="container mt-4">
  <div class="text-center bg-success text-white py-5">
    <h1>ベイブレード交流掲示板</h1>
  </div>

  <div class="row me-5 mt-5">
    <!-- ピックアップ -->
    <div class="col-12 mb-4">
      <h2 class="h4">ピックアップ(開設予定）</h2>
      <ul class="list-group">
        
      </ul>
    </div>

    <!-- 人気 -->
    <div class="col-12 mb-4">
      <h2 class="h4">人気(開設予定）</h2>
      <ul class="list-group">
       
    </div>

    <!-- 新着 -->
    <div class="col-12 mb-4">
      <h2 class="h4">新着(開設予定）</h2>
      <ul class="list-group">
        
      </ul>
    </div>
  </div>
</main>
