<main class="container mt-4">
  <div class="text-center bg-success text-white py-5">
    <h1>掲示板(仮)</h1>
  </div>

  <div class="row me-5 mt-5">
    <!-- ピックアップ -->
    <div class="col-12 mb-4">
      <h2 class="h4">ピックアップ</h2>
      <ul class="list-group">
        <li class="list-group-item">サンプル掲示板1</li>
        <li class="list-group-item">サンプル掲示板2</li>
        <li class="list-group-item">サンプル掲示板3</li>
        <li class="list-group-item">サンプル掲示板4</li>
      </ul>
    </div>

    <!-- 人気 -->
    <div class="col-12 mb-4">
      <h2 class="h4">人気</h2>
      <ul class="list-group">
        <li class="list-group-item">サンプル掲示板1</li>
        <li class="list-group-item">サンプル掲示板2</li>
        <li class="list-group-item">サンプル掲示板3</li>
        <li class="list-group-item">サンプル掲示板4</li>
      </ul>
    </div>

    <!-- 新着 -->
    <div class="col-12 mb-4">
      <h2 class="h4">新着</h2>
      <ul class="list-group">
        <li class="list-group-item">サンプル掲示板1</li>
        <li class="list-group-item">サンプル掲示板2</li>
        <li class="list-group-item">サンプル掲示板3</li>
        <li class="list-group-item">サンプル掲示板4</li>
      </ul>
    </div>
  </div>
</main>
