<div class="container custom-container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>このサイトの簡単な使い方</h1><p>今後も追加予定</p>
      <div class="card mb-1">
        <div class="card-body">
          <h5>掲示板の閲覧</h5>
          <p>
            サイトに作成された掲示板はログインに関係なく見ることができます。
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>会員登録</h5>
          <p>
            会員登録ページにて<br>
            ・ユーザー名<br>
            ・メールアドレス<br>
            ・パスワード<br>
            それぞれを入力後に登録されたメールアドレスに確認メールが送信されます<br>
            メールに記載されているリンクをから飛べば本登録完了となります。<br>
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>ログイン</h5>
          <p>
            ログインをすることで掲示板の作成<br>
            掲示板への返信を行うことができるようになります。<br>
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>掲示板作成</h5>
          <p>
            掲示板一覧ページにある新規作成ページから作成できます<br>
            タイトルと本文を入力後に作成ボタンで完了です。<br>
            パスワード（任意）を入力すると、その掲示板はパスワードを<br>
            知っている人だけが参加できる掲示板が作成されます。<br>
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>ユーザー情報</h5>
          <p>
            登録された自分のアイコンから登録されたユーザーの情報が見れます
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>アイコン周りの色について</h5>
          <p>
            アイコンのまわりにあるリングは登録してすぐは無色です。<br>
            一度掲示板への返信をすることで青色になります<br>
            それから返信をした回数が一定に達するとリングの色が変わります。<br>
            最終的な色は自信で確かめてみてください！<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
