<% content_for(:title, '編集') %>
<div class="container custom-container">
<%= render 'shared/flash_message' %>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1>編集</h1>
      <%= render 'form', board: @board %>
    </div>
  </div>
</div>