<div class="container" style="padding-top: 50px; padding-bottom: 50px;" >
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <h1>プライバシーポリシー</h1><p>[ベイブレード交流掲示板]（以下、「当サービス」 ）は、ユーザーの個人情報保護に努めます。<br>
      本プライバシーポリシーでは、当サービスが収集する情報とその利用目的について説明します。</p>
      <div class="card mb-1">
        <div class="card-body">
          <h5>第1条（収集する情報）</h5>
          <p>
            当サービスは、以下のユーザー情報を収集します。
            <ul>
              <li>メールアドレス：ユーザー登録およびログインに必要な情報として取得します。</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>第2条（情報の利用目的）</h5>
          <p>
            当サービスは、以下の目的のためにユーザーの情報を利用します。
            <ul>
              <li>ユーザー認証やアカウント管理</li>
              <li>サービスに関する連絡およびサポート</li>
              <li>必要に応じたサービスの改良やカスタマイズ</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>第3条（第三者提供）</h5>
          <p>
            当サービスは、ユーザーの同意がない限り、個人情報を第三者に提供することはありません。ただし、以下の場合には例外とします。
            <ul>
              <li>法律に基づく場合</li>
              <li>公的機関からの要請があった場合</li>
              <li>ユーザーが誹謗中傷などの不正行為を行った場合</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>第4条（情報の管理）</h5>
          <p>
            当サービスは、ユーザーの個人情報を適切に管理し、不正アクセスや漏洩を防止するために適切な措置を講じます。
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>第5条（ユーザーの権利）</h5>
          <p>
            ユーザーは、自己の個人情報に関して以下の権利を有します。
            <ul>
              <li>登録情報の確認・修正・削除</li>
              <li>アカウントの削除依頼</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>第6条（プライバシーポリシーの変更）</h5>
          <p>
            当サービスは、ユーザーに通知することなく、本プライバシーポリシーを変更することがあります。<br>
            変更後のポリシーは、ウェブサイト上に掲載した時点で効力を有します。
          </p>
        </div>
      </div>
      <div class="card mb-1">
        <div class="card-body">
          <h5>第7条（お問い合わせ）</h5>
          <p>
            個人情報の取扱いに関するお問い合わせは、お問い合わせフォームで受け付けます
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
